<!-- Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT -->

<tmpl id="index">
	<div id="words"></div>
	<form fw action="/chat" method="speak">
		<input type="text" id="speak" name="text">
		<input type="submit" value="Broadcast!">
	</form>
</tmpl>
