<!-- Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT -->

<tmpl id="index">
	<div class="index">
		<div>
			{{this}}
			<br>
			<a fw href="/this/page/does/not/exist">Go!</a>
		</div>
	</div>
</tmpl>