<!-- Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT -->

<tmpl id="index">
	<div id="words"></div>
	<form action="/chat" method="speak">
		<input type="text" id="speak" name="text">
		<input type="submit" value="Broadcast!">
	</form>
	<div>`This is a test for fw.mpa.`</div>
	<div>`Select language:` <select id="lang">
		<option value="">default</option>
		<option value="zh">中文</option>
	</select></div>
</tmpl>
