<!-- Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT -->

<tmpl id="index">
	<div class="index">
		<div>
			{{this}}
			<br>
			<div id="speak_form"></div>
			<br>
			<a fw href="/child/">`Wanna visit a child dir?`</a>
			<br>
			<a fw href="/this/page/does/not/exist">`Wanna visit 404?`</a>
			<br>
			<a fw href="/child/this/page/does/not/exist">`Wanna visit 404 in child dir?`</a>
			<br>
			<a fw href="/special">`Go to a special page?`</a>
		</div>
	</div>
</tmpl>