<!-- Copyright 2015 LastLeaf, LICENSE: github.lastleaf.me/MIT -->

<tmpl id="helloworld">
	<p>Hello world!</p>
</tmpl>

<tmpl id="divideResult" minify>
	<p>6 / 3 = <span class="result">{{result}}</span></p>
</tmpl>
